{% extends 'base/base_template.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'IAM/main.css' %} ">
<center>
    <h1 class='title'>Winners</h1>
    <hr>
</center>

<div class="row">
    <div class="content-block col-lg-10 col-md-10 col-sm-12 col-xs-12">

            <div class="row">
                <center>
                    {% for track in tracks %}
                        <a href="{% url 'IAM:event_winnerslist' id=event_id track_id=track.id %}">
                            <div class="content links-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="tile-text">{{track.track}}</span>
                            </div>
                        </a>
                    {% endfor %}
                </center>
            </div>
    </div>
</div>
{% endblock content %}